body {
    font-family: 'Montserrat-Regular', sans-serif;
}

section{
    padding-top: 20px;
}

.startpage-padding {
    padding-top: 20px;
}

.fade-in {
    opacity: 0;
    animation: fadeIn 0.5s ease-in forwards;
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(10px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}

/** FONTS */

/* Montserrat-regular */
@font-face {
    font-family: 'Montserrat';
    src: url('/frontend/static/fonts/Montserrat-Regular.woff2') format('woff2');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

/* Montserrat-bold */
@font-face {
    font-family: 'Montserrat';
    src: url('/frontend/static/fonts/Montserrat-Bold.woff2') format('woff2');
    font-weight: 700;

    font-style: normal;
    font-display: swap;
}

/* Montserrat-thin */
@font-face {
    font-family: 'Montserrat';
    src: url('/frontend/static/fonts/Montserrat-Thin.woff2') format('woff2');
    font-weight: 100;
    font-style: normal;
    font-display: swap;
}

/* Pacifico-regular */
@font-face {
    font-family: 'Pacifico';
    src: url('/frontend/static/fonts/Pacifico-Regular.woff2') format('woff2');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}